{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
    <div class="container" id="container">
        <img id='img' src="https://i.postimg.cc/7YgpV6Sj/1675290909-gas-kvas-com-p-gorilla-risunok-art-18.png">
        <span class="boss">Alex Tim</span><br>
        <span class="miniboss">Developer</span><br><br>
        <span class="stack">Stack: Python</span>
        <span class="experience">Experience: 500 years</span>
        <span class="jir">Salary: 40 000$/month</span>
        <span class="jir">Email: vjhollywood@gmail.com</span>
        <script src="{% static 'js/three.min.js' %}"></script>
        <script src="{% static 'js/vanta.waves.min.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
        
    
</body>
</html>